<div class="container-fluid">
  <div class="col-lg-4 center">
    <div class="row center">
      <h1 class="title">
        Coral Coast International School
      </h1>
      <br>
      <%= link_to "Donate Now!", donations_path, class: "btn btn-primary btn-full", id: "btn-home" %>
    </div>
    <br>
    <table align="center" width="500px">
      <tr>
        <td class="top">
          <%= image_tag "open_quotes.png", class: "icon" %>
        </td>
        <td class="quote">
          An investment in knowledge pays the best interest.
        </td>
        <td class="bottom">
          <%= image_tag "close_quotes.png", class: "icon" %>
        </td>
        <tr>
          <td colspan="3" class="author">
            &#8212;Benjamin Franklin
          </td>
        </tr>
      </tr>
    </table>
    <br>
  </div>
  <div class="col-lg-8">
    <%= image_tag "front_page.jpg", :alt => "Children of Coral Coast International School", id: "home_image" %>
  </div>
</div>