/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/bootstrap-theme.min.css
 *= require bootstrap/bootstrap.min.css
 */

@import url('https://fonts.googleapis.com/css?family=Patua+One|Podkova:700|Sura:700|Volkhov:700');
@import url('https://fonts.googleapis.com/css?family=Handlee|Satisfy|Bad+Script|Calligraffitti|Handlee|Merienda');

.title {
  font-family: 'Volkhov', serif;
  font-size: 55px;
  text-align: center;
}

.btn-full {
  width: 100%;
  font-size: 16pt;
  font-family: 'Volkhov', serif;
  margin-bottom: 20px;
}

.quote {
  font-size: 24pt;
  font-family: 'Handlee', serif;
  font-style: italic;
  font-weight: bold;
}

.author {
  font-size: 14pt;
  font-family: 'Sura', serif;
  font-style: italic;
  font-weight: normal;
  text-align: right;
}

.top {
  vertical-align: top;
}

.bottom {
  vertical-align: bottom;
}

.icon {
  height: 50px;
  width: 50px;
}

.center {
  text-align: center;
}

#home-image {
  width: 100%;
}

.picture {
  width: 300px;
  height: 300px;
}

.card {
  display: inline-block;
  margin: 10px;
}

.card p {
  font-size: 14pt;
}

.card-block {
  border-top: rgba(0, 0, 0, 0.125) solid 1px;
}

.form-table tr th {
  padding-right: 5px;
  padding-top: 2px;
}

.index-table tr th {
  background-color: #ddd;
  text-align: center;
}

.index-table tr th a {
  color: white;
}

.index-table th,
.index-table td,
.button-table th,
.button-table td {
  padding: 5px;
  border: 1px solid #ddd;
}

.index-table tr:hover {
  background-color: #f5f5f5
}

.quantity-field {
  width: 45px;
}

.quantity-update td {
  padding: 1px;
  border: 1px solid #fff;
}

.quantity-button {
  font-weight: bold;
  height: 22px;
  width: 22px;
}

.currency {
  text-align: right;
}

.btn-outline-primary {
  color: #2e6da4;
  background-color: white;
  border-color: #2e6da4;
}

.btn-outline-primary:hover {
  color: #adadad;
  background-color: white;
  border-color: #adadad;
}
