/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Patua+One|Podkova:700|Sura:700|Volkhov:700');
@import url('https://fonts.googleapis.com/css?family=Handlee|Satisfy|Bad+Script|Calligraffitti|Handlee|Merienda');

.title {
  font-family: 'Volkhov', serif;
  font-size: 60px;
  text-align: center;
}

.btn-full {
  width: 100%;
  font-size: 16pt;
  font-family: 'Volkhov', serif;
  margin-bottom: 20px;
}

.quote {
  font-size: 24pt;
  font-family: 'Handlee', serif;
  font-style: italic;
  font-weight: bold;
}

.author {
  font-size: 14pt;
  font-family: 'Sura', serif;
  font-style: italic;
  font-weight: normal;
  text-align: right;
}

.top {
  vertical-align: top;
}

.bottom {
  vertical-align: bottom;
}

.icon {
  height: 50px;
  width: 50px;
}

.center {
  text-align: center;
}

#home-image {
  width: 100%;
}